@{
	ViewData["Title"] = "TrangCaNhan";
	Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

@{
	var tk = Context.Session.GetString("DN");
	var avatar = Context.Session.GetString("Avatar");

}

@model MangXaHoi.Models.Nguoidung

<div class="col-lg-12">
	<div class="row merged20" id="page-contents">

		<div class="user-profile">

			<figure>
				<div class="edit-pp">
					<label class="fileContainer">
						<i class="fa fa-camera"></i>
						<input type="file">
					</label>
				</div>
				<img src="@Url.Content("../Layout/images/" + Model.AnhBia)" alt="">
				<ul class="profile-controls">					
					<li id="addfriend" ><a onclick="ThemFriend('@Model.TaiKhoan' , '@Model.Avatar')" title="Add friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
					<li id="unfriend" style="display:none;"><a onclick="XoaFriend('@Model.TaiKhoan')" title="Under friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
					<li id="acceptfriend" style="display:none;"><a onclick="ChapnhanFriend('@Model.TaiKhoan' , '@Model.Avatar')" title="Accept friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
					<li id="refusefriend" style="display:none;"><a onclick="TuchoiFriend('@Model.TaiKhoan')" title="Refuse friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
					<li id="friended" style="display:none;"><a onclick="XoaFriend('@Model.TaiKhoan')" title="Friended" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
					<li id="friended1" style="display:none;"><a onclick="TuchoiFriend('@Model.TaiKhoan')" title="Friended" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>

					<li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
					<li><a class="send-mesg" href="#" title="Send Message" data-toggle="tooltip"><i class="fa fa-comment"></i></a></li>
					<li>
						<div class="edit-seting" title="Edit Profile image">
							<i class="fa fa-sliders"></i>
							<ul class="more-dropdown">
								<li><a href="setting.html" title="">Update Profile Photo</a></li>
								<li><a href="setting.html" title="">Update Header Photo</a></li>
								<li><a href="setting.html" title="">Account Settings</a></li>
								<li><a href="support-and-help.html" title="">Find Support</a></li>
								<li><a class="bad-report" href="#" title="">Report Profile</a></li>
								<li><a href="#" title="">Block Profile</a></li>
							</ul>
						</div>
					</li>
				</ul>
				<ol class="pit-rate">
					<li class="rated"><i class="fa fa-star"></i></li>
					<li class="rated"><i class="fa fa-star"></i></li>
					<li class="rated"><i class="fa fa-star"></i></li>
					<li class="rated"><i class="fa fa-star"></i></li>
					<li class=""><i class="fa fa-star"></i></li>
					<li><span>4.7/5</span></li>
				</ol>
			</figure>

			<div class="profile-section">
				<div class="row">
					<div class="col-lg-2 col-md-3">
						<div class="profile-author">
							<div class="profile-author-thumb">
								<img alt="author" src="@Url.Content("../Layout/images/"+ Model.Avatar)">
								<div class="edit-dp">
									<label class="fileContainer">
										<i class="fa fa-camera"></i>
										<input type="file">
									</label>
								</div>
							</div>

							<div class="author-content">
								<a class="h4 author-name">@Model.Ten</a>
								<div class="country">Ontario, CA</div>
							</div>
						</div>
					</div>
					<div class="col-lg-10 col-md-9">
						<ul class="profile-menu">
							<li>
								<a class="" asp-controller="Home" asp-action="DongThoiGian" asp-route-taikhoan="@Model.TaiKhoan">Timeline</a>
							</li>
							<li>
								<a class="active" asp-controller="Home" asp-action="TrangCaNhan" asp-route-taikhoan="@Model.TaiKhoan">About</a>
							</li>
							<li>
								<a class="" asp-controller="Home" asp-action="Friend" asp-route-taikhoan="@Model.TaiKhoan" >Friends</a>
							</li>
							<li>
								<a class="" href="timeline-photos.html">Photos</a>
							</li>
							<li>
								<a class="" href="timeline-videos.html">Videos</a>
							</li>
							<li>
								<div class="more">
									<i class="fa fa-ellipsis-h"></i>
									<ul class="more-dropdown">
										<li>
											<a href="timeline-groups.html">Profile Groups</a>
										</li>
										<li>
											<a href="statistics.html">Profile Analytics</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<ol class="folw-detail">
							<li><span>Posts</span><ins>101</ins></li>
							<li><span>Followers</span><ins>1.3K</ins></li>
							<li><span>Following</span><ins>22</ins></li>
						</ol>
					</div>
				</div>
			</div>

		</div><!-- user profile banner  -->

		<div class="col-lg-4 col-md-4">
			<aside class="sidebar">
				<div class="central-meta stick-widget">
					<span class="create-post">Personal Info</span>
					<div class="personal-head">
						<span class="f-title"><i class="fa fa-user"></i> About Me:</span>
						<p>
							@Model.GioiThieu
						</p>
						<span class="f-title"><i class="fa fa-birthday-cake"></i> Birthday:</span>
						<p>
							@Model.NgaySinh
						</p>
						<span class="f-title"><i class="fa fa-phone"></i> Phone Number:</span>
						<p>
							@Model.Sdt
						</p>
						<span class="f-title"><i class="fa fa-medkit"></i> Blood group:</span>
						<p>
							B+
						</p>
						<span class="f-title"><i class="fa fa-male"></i> Gender:</span>
						<p>
							@Model.GioiTinh
						</p>
						<span class="f-title"><i class="fa fa-globe"></i> Country:</span>
						<p>
							San Francisco, California, USA
						</p>
						<span class="f-title"><i class="fa fa-briefcase"></i> Occupation:</span>
						<p>
							UI/UX Designer
						</p>
						<span class="f-title"><i class="fa fa-handshake-o"></i> Joined:</span>
						<p>
							@Model.NgayTao
						</p>

						<span class="f-title"><i class="fa fa-envelope"></i> Email & Website:</span>
						<p>
							<a href="wpkixx.html" title="">www.wpkixx.com</a> <a href="http://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ebbb829f858280ab92849e99868a8287c5888486">[email&#160;protected]</a>
						</p>

					</div>
				</div>
			</aside>
		</div>
		<div class="col-lg-8 col-md-8">
			<div class="central-meta">
				<span class="create-post">General Info<a href="#" title="">See All</a></span>
				<div class="row">
					<div class="col-lg-6">
						<div class="gen-metabox">
							<span><i class="fa fa-puzzle-piece"></i> Hobbies</span>
							<p>
								I like to ride the bicycle, swimming, and working out. I also like reading design magazines, and searching on internet, and also binge watching a good hollywood Movies while it’s raining outside.
							</p>
						</div>
						<div class="gen-metabox">
							<span><i class="fa fa-plus"></i> Others Interests</span>
							<p>
								Swimming, Surfing, Uber Diving, Anime, Photography, Tattoos, Street Art.
							</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="gen-metabox">
							<span><i class="fa fa-mortar-board"></i> Education</span>
							<p>
								Master of computer science, sixteen years degree From <a href="#" title="">Oxford Uniersity, London</a>
							</p>
						</div>
						<div class="gen-metabox">
							<span><i class="fa fa-certificate"></i> Work and experience</span>
							<p>
								Currently working in the "color hands" web development agency from the last 5 five years as <a href="#" title="">Senior UI/UX Designer</a>
							</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="gen-metabox no-margin">
							<span><i class="fa fa-sitemap"></i> Social Networks</span>
							<ul class="sociaz-media">
								<li><a class="facebook" href="#" title=""><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter" href="#" title=""><i class="fa fa-twitter"></i></a></li>
								<li><a class="google" href="#" title=""><i class="fa fa-google-plus"></i></a></li>
								<li><a class="vk" href="#" title=""><i class="fa fa-vk"></i></a></li>
								<li><a class="instagram" href="#" title=""><i class="fa fa-instagram"></i></a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="central-meta">
				<span class="create-post">Favourit Movies & TV Shows (33) <a href="#" title="">See All</a></span>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="fav-play">
							<figure>
								<img src="../Layout/images/resources/tvplay1.jpg" alt="">
							</figure>
							<span class="tv-play-title">Attaturk Tv Series 2017 </span>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="fav-play">
							<figure>
								<img src="../Layout/images/resources/tvplay2.jpg" alt="">
							</figure>
							<span class="tv-play-title">Thor Hollywood Movie 2017 </span>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="fav-play">
							<figure>
								<img src="../Layout/images/resources/tvplay3.jpg" alt="">
							</figure>
							<span class="tv-play-title">Spider Men 2015 </span>
						</div>
					</div>
				</div>
			</div>
			<div class="central-meta">
				<span class="create-post">Friend's (320) <a href="timeline-friends2.html" title="">See All</a></span>
				<ul class="frndz-list">
					<li>
						<img src="../Layout/images/resources/recent1.jpg" alt="">
						<div class="sugtd-frnd-meta">
							<a href="#" title="">Olivia</a>
							<span>1 mutual friend</span>
							<ul class="add-remove-frnd">
								<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
								<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
							</ul>
						</div>
					</li>
					<li>
						<img src="../Layout/images/resources/recent2.jpg" alt="">
						<div class="sugtd-frnd-meta">
							<a href="#" title="">Emma watson</a>
							<span>2 mutual friend</span>
							<ul class="add-remove-frnd">
								<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
								<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
							</ul>
						</div>
					</li>
					<li>
						<img src="../Layout/images/resources/recent3.jpg" alt="">
						<div class="sugtd-frnd-meta">
							<a href="#" title="">Isabella</a>
							<span><a href="#" title="">Emmy</a> is mutual friend</span>
							<ul class="add-remove-frnd">
								<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
								<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
							</ul>
						</div>
					</li>
					<li>
						<img src="../Layout/images/resources/recent4.jpg" alt="">
						<div class="sugtd-frnd-meta">
							<a href="#" title="">Amelia</a>
							<span>5 mutual friend</span>
							<ul class="add-remove-frnd">
								<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
								<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
							</ul>
						</div>
					</li>
					<li>
						<img src="../Layout/images/resources/recent5.jpg" alt="">
						<div class="sugtd-frnd-meta">
							<a href="#" title="">Sophia</a>
							<span>1 mutual friend</span>
							<ul class="add-remove-frnd">
								<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
								<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
							</ul>
						</div>
					</li>
					<li>
						<img src="../Layout/images/resources/recent6.jpg" alt="">
						<div class="sugtd-frnd-meta">
							<a href="#" title="">Amelia</a>
							<span>3 mutual friend</span>
							<ul class="add-remove-frnd">
								<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
								<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div><!-- friends list -->
			<div class="central-meta">
				<span class="create-post">Photos (580) <a href="timeline-photos.html" title="">See All</a></span>
				<ul class="photos-list">
					<li>
						<div class="item-box">
							<a class="strip" href="../Layout/images/resources/photo-22.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
								<img src="../Layout/images/resources/photo2.jpg" alt="">
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>15</span></div>
								<span>20 hours ago</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item-box">
							<a class="strip" href="../Layout/images/resources/photo-33.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
								<img src="../Layout/images/resources/photo3.jpg" alt="">
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>20</span></div>
								<span>20 days ago</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item-box">
							<a class="strip" href="../Layout/images/resources/photo-44.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
								<img src="../Layout/images/resources/photo4.jpg" alt="">
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>155</span></div>
								<span>Yesterday</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item-box">
							<a class="strip" href="../Layout/images/resources/photo-55.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
								<img src="../Layout/images/resources/photo5.jpg" alt="">
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>201</span></div>
								<span>3 weeks ago</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item-box">
							<a class="strip" href="../Layout/images/resources/photo-66.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
								<img src="../Layout/images/resources/photo6.jpg" alt="">
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>81</span></div>
								<span>2 months ago</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item-box">
							<a class="strip" href="../Layout/images/resources/photo-77.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
								<img src="../Layout/images/resources/photo7.jpg" alt="">
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>98</span></div>
								<span>1 day</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item-box">
							<a class="strip" href="../Layout/images/resources/photo-88.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
								<img src="../Layout/images/resources/photo8.jpg" alt="">
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>87</span></div>
								<span>23 hours ago</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="central-meta">
				<span class="create-post">Videos (33) <a href="timeline-videos.html" title="">See All</a></span>
				<ul class="videos-list">
					<li>
						<div class="item-box">
							<a href="https://www.youtube.com/watch?v=fF382gwEnG8&amp;t=1s" title="" data-strip-group="mygroup" class="strip" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
								<img src="../Layout/images/resources/vid-11.jpg" alt="">
								<i>
									<svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="50px" width="50px"
										 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
									<path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
													C97.3,23.7,75.7,2.3,49.9,2.5" />
									<path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
													</svg>
								</i>
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>15</span></div>
								<span>20 hours ago</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item-box">
							<a href="https://www.youtube.com/watch?v=fF382gwEnG8&amp;t=1s" title="" data-strip-group="mygroup" class="strip" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
								<img src="../Layout/images/resources/vid-12.jpg" alt="">
								<i>
									<svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="50px" width="50px"
										 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
									<path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
														C97.3,23.7,75.7,2.3,49.9,2.5" />
									<path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
														</svg>
								</i>
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>20</span></div>
								<span>20 hours ago</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item-box">
							<a href="https://www.youtube.com/watch?v=fF382gwEnG8&amp;t=1s" title="" data-strip-group="mygroup" class="strip" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
								<img src="../Layout/images/resources/vid-10.jpg" alt="">
								<i>
									<svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="50px" width="50px"
										 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
									<path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
														C97.3,23.7,75.7,2.3,49.9,2.5" />
									<path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
														</svg>
								</i>
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>49</span></div>
								<span>20 days ago</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item-box">
							<a href="https://www.youtube.com/watch?v=fF382gwEnG8&amp;t=1s" title="" data-strip-group="mygroup" class="strip" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
								<img src="../Layout/images/resources/vid-9.jpg" alt="">
								<i>
									<svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="50px" width="50px"
										 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
									<path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
														C97.3,23.7,75.7,2.3,49.9,2.5" />
									<path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
														</svg>
								</i>
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>156</span></div>
								<span>Yesterday</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item-box">
							<a href="https://www.youtube.com/watch?v=fF382gwEnG8&amp;t=1s" title="" data-strip-group="mygroup" class="strip" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
								<img src="../Layout/images/resources/vid-6.jpg" alt="">
								<i>
									<svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="50px" width="50px"
										 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
									<path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
														C97.3,23.7,75.7,2.3,49.9,2.5" />
									<path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
														</svg>
								</i>
							</a>
							<div class="over-photo">
								<div class="likes heart" title="Like/Dislike">❤ <span>202</span></div>
								<span>3 weeks ago</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>

	 window.addEventListener('load', function () {
		// Thực hiện function myFunction ở đây
		GetAddFriend('@Model.TaiKhoan');
		GetAddFriend1('@Model.TaiKhoan');

	});

	//phia gui yeu cau
	function ThemFriend(tk,avatar) {
		let formData = {
			Tkgui: "@tk",
			Tknhan: tk,
			TrangThai: "0",
			AvatarGui: '@avatar',
			AvatarNhan: avatar,


		}

		$.ajax({
			type: "POST",
			url: "https://localhost:7013/api/api3/",
			data: JSON.stringify(formData),
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			success: function (response) {
				location.reload();

			},
			error: function (request, status, error) {
				alert(request.responseText);
			},
		});


	}

	//phia gui yeu cau
	function XoaFriend(tknhan) {

        $.ajax({
            type: "DELETE",
			url: "https://localhost:7013/api/api3/"+ '@tk' + '/' + tknhan,
            dataType: "json",
            success: function (response) {
				location.reload();

            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }
	
	//phia nhan yeu cau
	function ChapnhanFriendaasa(tk, avatar) {
			let formData = {
				Tkgui: tk,
				Tknhan: "@tk",
				TrangThai: "1",
				AvatarGui: avatar,
				AvatarNhan: '@avatar',


			}

			$.ajax({
				type: "POST",
				url: "https://localhost:7013/api/api3/",
				data: JSON.stringify(formData),
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				success: function (response) {
					location.reload();

				},
				error: function (request, status, error) {
					alert(request.responseText);
				},
			});


		}

	function ChapnhanFriend(tk, avatar) {
				let formData = {
					Tkgui: tk,
					Tknhan: "@tk",
					TrangThai: "1",
					AvatarGui: avatar,
					AvatarNhan: '@avatar',


				};

				$.ajax({
					url: "https://localhost:7013/api/api3/" + tk + '/' + '@tk',
					type: 'PUT',
					contentType: 'application/json',
					data: JSON.stringify(formData),
					success: function (result) {
						location.reload();
					},
					error: function (xhr, status, error) {
						console.log('Lỗi khi cập nhật thông tin sản phẩm: ' + error);
					}
				});
			}

	//phia nhan yeu cau
	function TuchoiFriend(tkgui) {
			$.ajax({
				type: "DELETE",
				url: "https://localhost:7013/api/api3/" + tkgui + '/' + '@tk' ,
				dataType: "json",
				success: function (response) {
					location.reload();

				},
				error: function (request, status, error) {
					alert(request.responseText);
				}
			});
		}

	//phia gui yeu cau
	function GetAddFriend(tk) {
		var btn1 = document.getElementById("addfriend");
		var btn2 = document.getElementById("unfriend");
		var btn3 = document.getElementById("acceptfriend");
		var btn4 = document.getElementById("refusefriend");
		var btn5 = document.getElementById("friended");

		var str = '';
		var tknhan='' ;
		$.ajax({
			type: 'GET',
			url: 'https://localhost:7013/api/api3/' + '@tk',
			dataType: 'json',
			success: function (data) {
				$.each(data, function (key, val) {
					str = val.trangThai;
					tknhan = val.tknhan ;
					tkgui = val.tkgui ;

					if (str == 0 && tknhan == tk) {
						btn1.style.display = "none";
						btn2.style.display = "block";
					}
					if (str == 1 && tknhan == tk) {
						btn1.style.display = "none";
						btn5.style.display = "block";
					}
					if('@tk' == tk){
						btn1.style.display = "none";
						btn2.style.display = "none";
					}

				});
			},

			Error: function (xhr) {
				alert(xhr.resposeText)
			},

		});
	}

	//phia nhan yeu cau
	function GetAddFriend1(tk) {
		var btn1 = document.getElementById("addfriend");
		var btn2 = document.getElementById("unfriend");
		var btn3 = document.getElementById("acceptfriend");
		var btn4 = document.getElementById("refusefriend");
		var btn5 = document.getElementById("friended1");

		var str = '';
		var tkgui = '';
		$.ajax({
			type: 'GET',
			url: 'https://localhost:7013/api/api3/0/' + '@tk',
			dataType: 'json',
			success: function (data) {
				$.each(data, function (key, val) {
					str = val.trangThai;
					tkgui = val.tkgui ;

					if (str == 0 && tkgui == tk) {
						btn1.style.display = "none";
						btn2.style.display = "none";
						btn3.style.display = "block";
						btn4.style.display = "block";

					}

					if (str == 1 && tkgui == tk) {
						btn1.style.display = "none";
						btn5.style.display = "block";
					}

				});
			},

			Error: function (xhr) {
				alert(xhr.resposeText)
			},

		});
	}
</script>

