@{
	var tk = Context.Session.GetString("DN");
	var avatar = Context.Session.GetString("Avatar");

}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Pitnik Social Network Toolkit</title>
	<link rel="icon" href="../Layout/images/fav.png" type="image/png" sizes="16x16">

	<link rel="stylesheet" href="../Layout/css/main.min.css">
	<link rel="stylesheet" href="../Layout/css/weather-icons.min.css">
	<link rel="stylesheet" href="../Layout/css/toast-notification.css">
	<link rel="stylesheet" href="../Layout/css/page-tour.css">
	<link rel="stylesheet" href="../Layout/css/style.css">
	<link rel="stylesheet" href="../Layout/css/color.css">
	<link rel="stylesheet" href="../Layout/css/responsive.css">

</head>
<body>
	<div class="wavy-wraper">
		<div class="wavy">
			<span style="--i:1;">p</span>
			<span style="--i:2;">i</span>
			<span style="--i:3;">t</span>
			<span style="--i:4;">n</span>
			<span style="--i:5;">i</span>
			<span style="--i:6;">k</span>
			<span style="--i:7;">.</span>
			<span style="--i:8;">.</span>
			<span style="--i:9;">.</span>
		</div>
	</div>
	<div class="theme-layout">

		<div class="postoverlay"></div>

		<div class="responsive-header">
			<div class="mh-head first Sticky">
				<span class="mh-btns-left">
					<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
				</span>
				<span class="mh-text">
					<a href="newsfeed.html" title=""><img src="../Layout/images/logo2.png" alt=""></a>
				</span>
				<span class="mh-btns-right">
					<a class="fa fa-sliders" href="#shoppingbag"></a>
				</span>
			</div>
			<div class="mh-head second">
				<form class="mh-form">
					<input placeholder="search" />
					<a href="#/" class="fa fa-search"></a>
				</form>
			</div>
			<nav id="menu" class="res-menu">
				<ul>
					<li>
						<span>Home Pages</span>
						<ul>
							<li><a href="index.html" title="">Pitnik Default</a></li>
							<li><a href="pitrest.html" title="">Pitrest</a></li>
							<li><a href="pitpoint.html" title="">PitPoint</a></li>
							<li><a href="chat-messenger.html" title="">Messenger</a></li>
						</ul>
					</li>
					<li>
						<span>PitPoint</span>
						<ul>
							<li><a href="pitpoint.html" title="">PitPoint</a></li>
							<li><a href="pitpoint-list.html" title="">Pitpoint List style</a></li>
						</ul>
					</li>
					<li>
						<span>Timeline</span>
						<ul>
							<li><a href="timeline.html" title="">Timeline</a></li>
							<li><a href="timeline-photos.html" title="">Timeline Photos</a></li>
							<li><a href="timeline-videos.html" title="">Timeline Videos</a></li>
							<li><a href="timeline-groups.html" title="">Timeline Groups</a></li>
							<li><a href="timeline-friends.html" title="">Timeline Friends</a></li>
							<li><a href="timeline-friends2.html" title="">Timeline Friends-2</a></li>
							<li><a href="about.html" title="">Timeline About</a></li>
							<li><a href="blog-posts.html" title="">Timeline Blog</a></li>
							<li><a href="newsfeed.html" title="">Newsfeed</a></li>
							<li><a href="search-result.html" title="">Search Result</a></li>
						</ul>
					</li>
					<li>
						<span>Featured</span>
						<ul>
							<li><a href="chat-messenger.html" title="">Messenger (Chatting)</a></li>
							<li><a href="notifications.html" title="">Notifications</a></li>
							<li><a href="weather-forecast.html" title="">weather-forecast</a></li>
							<li><a href="statistics.html" title="">Statics/Analytics</a></li>
						</ul>
					</li>
					<li>
						<span>Account Setting</span>
						<ul>
							<li><a href="setting.html" title="">Setting</a></li>
							<li><a href="privacy.html" title="">Privacy</a></li>
							<li><a href="support-and-help.html" title="">Support & Help</a></li>
							<li><a href="support-and-help-detail.html" title="">Support Detail</a></li>
							<li><a href="support-and-help-search-result.html" title="">Support Search</a></li>
						</ul>
					</li>
					<li>
						<span>Authentication</span>
						<ul>
							<li><a href="login.html" title="">Login Page</a></li>
							<li><a href="register.html" title="">Register Page</a></li>
							<li><a href="logout.html" title="">Logout Page</a></li>
							<li><a href="error-404.html" title="">Error 404</a></li>
							<li><a href="error-404-2.html" title="">Error 404-2</a></li>
							<li><a href="error-500.html" title="">Error 500</a></li>
						</ul>
					</li>
					<li>
						<span>Tools</span>
						<ul>
							<li><a href="typography.html" title="">Typography</a></li>
							<li><a href="popup-modals.html" title="">Popups/Modals</a></li>
							<li><a href="post-versions.html" title="">Post Versions</a></li>
							<li><a href="sliders.html" title="">Sliders / Carousel</a></li>
							<li><a href="google-map.html" title="">Google Maps</a></li>
							<li><a href="widgets.html" title="">Widgets</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<nav id="shoppingbag">
				<div>
					<div class="">
						<form method="post">
							<div class="setting-row">
								<span>use night mode</span>
								<input type="checkbox" id="nightmode" />
								<label for="nightmode" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Notifications</span>
								<input type="checkbox" id="switch2" />
								<label for="switch2" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Notification sound</span>
								<input type="checkbox" id="switch3" />
								<label for="switch3" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>My profile</span>
								<input type="checkbox" id="switch4" />
								<label for="switch4" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Show profile</span>
								<input type="checkbox" id="switch5" />
								<label for="switch5" data-on-label="ON" data-off-label="OFF"></label>
							</div>
						</form>
						<h4 class="panel-title">Account Setting</h4>
						<form method="post">
							<div class="setting-row">
								<span>Sub users</span>
								<input type="checkbox" id="switch6" />
								<label for="switch6" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>personal account</span>
								<input type="checkbox" id="switch7" />
								<label for="switch7" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Business account</span>
								<input type="checkbox" id="switch8" />
								<label for="switch8" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Show me online</span>
								<input type="checkbox" id="switch9" />
								<label for="switch9" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Delete history</span>
								<input type="checkbox" id="switch10" />
								<label for="switch10" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Expose author name</span>
								<input type="checkbox" id="switch11" />
								<label for="switch11" data-on-label="ON" data-off-label="OFF"></label>
							</div>
						</form>
					</div>
				</div>
			</nav>
		</div><!-- responsive header -->

		<div class="topbar stick">
			<div class="logo">
				<a title="" asp-controller="Home"  asp-action="Index"  asp-route-taikhoan="@tk"><img src="../Layout/images/logo.png" alt=""></a>
			</div>
			<div class="top-area">
				<div class="main-menu">
					<span>
						<i class="fa fa-braille"></i>
					</span>
				</div>
				<div class="top-search">
						<form onsubmit="myFunction(event)">

						<input id="search" type="text" placeholder="Search People, Pages, Groups etc">
						<button onclick="getsearch()" data-ripple><i class="ti-search"></i></button>

						</form>
						

				</div>
				<div class="page-name">
					<span>Newsfeed</span>
				</div>
				<ul class="setting-area">
					<li><a href="newsfeed.html" title="Home" data-ripple=""><i class="fa fa-home"></i></a></li>
					<li>
						<a onclick="GetFriendGui()" title="Friend Requests" data-ripple="">
							<i class="fa fa-user"></i><em class="bg-red">5</em>
						</a>
						<div class="dropdowns">
							<span> New Requests <a href="#" title="">View all Requests</a></span>

							<ul id="FriendGui" class="drops-menu">
								@*TKNHAN*@
							</ul>
							<a href="friend-requests.html" title="" class="more-mesg">View All</a>
						</div>
					</li>
					<li>
						<a href="#" title="Notification" data-ripple="">
							<i class="fa fa-bell"></i><em class="bg-purple">7</em>
						</a>
						<div class="dropdowns">
							<span>4 New Notifications <a href="#" title="">Mark all as read</a></span>
							<ul class="drops-menu">
								<li>
									<a href="notifications.html" title="">
										<figure>
											<img src="../Layout/images/resources/thumb-1.jpg" alt="">
											<span class="status f-online"></span>
										</figure>
										<div class="mesg-meta">
											<h6>sarah Loren</h6>
											<span>commented on your new profile status</span>
											<i>2 min ago</i>
										</div>
									</a>
								</li>
								<li>
									<a href="notifications.html" title="">
										<figure>
											<img src="../Layout/images/resources/thumb-2.jpg" alt="">
											<span class="status f-online"></span>
										</figure>
										<div class="mesg-meta">
											<h6>Jhon doe</h6>
											<span>Nicholas Grissom just became friends. Write on his wall.</span>
											<i>4 hours ago</i>
											<figure>
												<span>Today is Marina Valentine’s Birthday! wish for celebrating</span>
												<img src="../Layout/images/birthday.png" alt="">
											</figure>
										</div>
									</a>
								</li>
								<li>
									<a href="notifications.html" title="">
										<figure>
											<img src="../Layout/images/resources/thumb-3.jpg" alt="">
											<span class="status f-online"></span>
										</figure>
										<div class="mesg-meta">
											<h6>Andrew</h6>
											<span>commented on your photo.</span>
											<i>Sunday</i>
											<figure>
												<span>"Celebrity looks Beautiful in that outfit! We should see each"</span>
												<img src="../Layout/images/resources/admin.jpg" alt="">
											</figure>
										</div>
									</a>
								</li>
								<li>
									<a href="notifications.html" title="">
										<figure>
											<img src="../Layout/images/resources/thumb-4.jpg" alt="">
											<span class="status f-online"></span>
										</figure>
										<div class="mesg-meta">
											<h6>Tom cruse</h6>
											<span>nvited you to attend to his event Goo in</span>
											<i>May 19</i>
										</div>
									</a>
									<span class="tag">New</span>
								</li>
								<li>
									<a href="notifications.html" title="">
										<figure>
											<img src="../Layout/images/resources/thumb-5.jpg" alt="">
											<span class="status f-online"></span>
										</figure>
										<div class="mesg-meta">
											<h6>Amy</h6>
											<span>Andrew Changed his profile picture. </span>
											<i>dec 18</i>
										</div>
									</a>
									<span class="tag">New</span>
								</li>
							</ul>
							<a href="notifications.html" title="" class="more-mesg">View All</a>
						</div>
					</li>
					<li>
						<a href="#" title="Messages" data-ripple=""><i class="fa fa-commenting"></i><em class="bg-blue">9</em></a>
						<div class="dropdowns">
							<span>5 New Messages <a href="#" title="">Mark all as read</a></span>
							<ul class="drops-menu">
								<li>
									<a class="show-mesg" href="#" title="">
										<figure>
											<img src="../Layout/images/resources/thumb-1.jpg" alt="">
											<span class="status f-online"></span>
										</figure>
										<div class="mesg-meta">
											<h6>sarah Loren</h6>
											<span><i class="ti-check"></i> Hi, how r u dear ...?</span>
											<i>2 min ago</i>
										</div>
									</a>
								</li>
								<li>
									<a class="show-mesg" href="#" title="">
										<figure>
											<img src="../Layout/images/resources/thumb-2.jpg" alt="">
											<span class="status f-offline"></span>
										</figure>
										<div class="mesg-meta">
											<h6>Jhon doe</h6>
											<span><i class="ti-check"></i> We’ll have to check that at the office and see if the client is on board with</span>
											<i>2 min ago</i>
										</div>
									</a>
								</li>
								<li>
									<a class="show-mesg" href="#" title="">
										<figure>
											<img src="../Layout/images/resources/thumb-3.jpg" alt="">
											<span class="status f-online"></span>
										</figure>
										<div class="mesg-meta">
											<h6>Andrew</h6>
											<span> <i class="fa fa-paperclip"></i>Hi Jack's! It’s Diana, I just wanted to let you know that we have to reschedule..</span>
											<i>2 min ago</i>
										</div>
									</a>
								</li>
								<li>
									<a class="show-mesg" href="#" title="">
										<figure>
											<img src="../Layout/images/resources/thumb-4.jpg" alt="">
											<span class="status f-offline"></span>
										</figure>
										<div class="mesg-meta">
											<h6>Tom cruse</h6>
											<span><i class="ti-check"></i> Great, I’ll see you tomorrow!.</span>
											<i>2 min ago</i>
										</div>
									</a>
									<span class="tag">New</span>
								</li>
								<li>
									<a class="show-mesg" href="#" title="">
										<figure>
											<img src="../Layout/images/resources/thumb-5.jpg" alt="">
											<span class="status f-away"></span>
										</figure>
										<div class="mesg-meta">
											<h6>Amy</h6>
											<span><i class="fa fa-paperclip"></i> Sed ut perspiciatis unde omnis iste natus error sit </span>
											<i>2 min ago</i>
										</div>
									</a>
									<span class="tag">New</span>
								</li>
							</ul>
							<a href="chat-messenger.html" title="" class="more-mesg">View All</a>
						</div>
					</li>
					<li>
						<a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i><em>EN</em></a>
						<div class="dropdowns languages">
							<div data-gutter="10" class="row">
								<div class="col-md-3">
									<ul class="dropdown-meganav-select-list-lang">
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/UK.png">English(UK)
											</a>
										</li>
										<li class="active">
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/US.png">English(US)
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/DE.png">Deutsch
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/NED.png">Nederlands
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/FR.png">Français
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/SP.png">Español
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/ARG.png">Español (AR)
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/IT.png">Italiano
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/PT.png">Português (PT)
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/BR.png">Português (BR)
											</a>
										</li>

									</ul>
								</div>
								<div class="col-md-3">
									<ul class="dropdown-meganav-select-list-lang">
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/FIN.png">Suomi
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/SW.png">Svenska
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/DEN.png">Dansk
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/CZ.png">Čeština
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/HUN.png">Magyar
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/ROM.png">Română
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/JP.png">日本語
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/CN.png">简体中文
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/PL.png">Polski
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/GR.png">Ελληνικά
											</a>
										</li>

									</ul>
								</div>
								<div class="col-md-3">
									<ul class="dropdown-meganav-select-list-lang">
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/TUR.png">Türkçe
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/BUL.png">Български
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/ARB.png">العربية
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/KOR.png">한국어
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/ISR.png">עברית
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/LAT.png">Latviski
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/UKR.png">Українська
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/IND.png">Bahasa Indonesia
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/MAL.png">Bahasa Malaysia
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/TAI.png">ภาษาไทย
											</a>
										</li>

									</ul>
								</div>
								<div class="col-md-3">
									<ul class="dropdown-meganav-select-list-lang">
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/CRO.png">Hrvatski
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/LIT.png">Lietuvių
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/SLO.png">Slovenčina
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/SERB.png">Srpski
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/SLOVE.png">Slovenščina
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/NAM.png">Tiếng Việt
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/PHI.png">Filipino
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/ICE.png">Íslenska
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/EST.png">Eesti
											</a>
										</li>
										<li>
											<a href="#">
												<img title="Image Title" alt="Image Alternative text" src="../Layout/images/flags/RU.png">Русский
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Help" data-ripple=""><i class="fa fa-question-circle"></i></a>
						<div class="dropdowns helps">
							<span>Quick Help</span>
							<form method="post">
								<input type="text" placeholder="How can we help you?">
							</form>
							<span>Help with this page</span>
							<ul class="help-drop">
								<li><a href="privacy.html" title=""><i class="fa fa-pencil-square-o"></i>Terms & Policy</a></li>
								<li><a href="#" title=""><i class="fa fa-map-marker"></i>Contact</a></li>
								<li><a href="#" title=""><i class="fa fa-exclamation-triangle"></i>Report a Problem</a></li>
							</ul>
						</div>
					</li>
				</ul>
				<div class="user-img">
					<h5>Profile</h5>
					<img style="width: 45px; height: 45px;" src="@Url.Content("../Layout/images/"+ avatar)" alt="">
					<span class="status f-online"></span>
					<div class="user-setting">
						<span class="seting-title">Chat setting <a href="#" title="">see all</a></span>
						<ul class="chat-setting">
							<li><a href="#" title=""><span class="status f-online"></span>online</a></li>
							<li><a href="#" title=""><span class="status f-away"></span>away</a></li>
							<li><a href="#" title=""><span class="status f-off"></span>offline</a></li>
						</ul>
						<span class="seting-title">User setting <a href="#" title="">see all</a></span>
						<ul class="log-out">
							<li><a asp-controller="Home" asp-action="TrangCaNhan" asp-route-taikhoan="@tk" title=""><i class="ti-user"></i> view profile</a></li>
							<li><a asp-controller="Home" asp-action="SuaTrangCaNhan" asp-route-taikhoan="@tk" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
							<li><a href="#" title=""><i class="ti-target"></i>activity log</a></li>
							<li><a href="setting.html" title=""><i class="ti-settings"></i>account setting</a></li>
							<li><a asp-controller="Access" asp-action="Logout" title=""><i class="ti-power-off"></i>log out</a></li>
						</ul>
					</div>
				</div>
				<span class="ti-settings main-menu" data-ripple=""></span>
			</div>
			<nav>
				<ul class="nav-list">
					<li>
						<a class="" href="#" title=""><i class="fa fa-home"></i> Home Pages</a>
						<ul>
							<li><a href="index.html" title="">Pitnik Default</a></li>
							<li><a href="pitrest.html" title="">Pitrest</a></li>
							<li><a href="pitpoint.html" title="">PitPoint</a></li>
							<li><a href="chat-messenger.html" title="">Messenger</a></li>
						</ul>
					</li>
					<li>
						<a class="" href="#" title=""><i class="fa fa-female"></i> PitPoint</a>
						<ul>
							<li><a href="pitpoint.html" title="">PitPoint</a></li>
							<li><a href="pitpoint-list.html" title="">Pitpoint List style</a></li>
						</ul>
					</li>
					<li>
						<a class="" href="#" title=""><i class="fa fa-repeat"></i> Timeline</a>
						<ul>
							<li><a href="timeline.html" title="">Timeline</a></li>
							<li><a href="timeline-photos.html" title="">Timeline Photos</a></li>
							<li><a href="timeline-videos.html" title="">Timeline Videos</a></li>
							<li><a href="timeline-groups.html" title="">Timeline Groups</a></li>
							<li><a href="timeline-friends.html" title="">Timeline Friends</a></li>
							<li><a href="timeline-friends2.html" title="">Timeline Friends-2</a></li>
							<li><a href="about.html" title="">Timeline About</a></li>
							<li><a href="blog-posts.html" title="">Timeline Blog</a></li>
							<li><a href="newsfeed.html" title="">Newsfeed</a></li>
							<li><a href="search-result.html" title="">Search Result</a></li>
						</ul>
					</li>
					<li>
						<a class="" href="#" title=""><i class="fa fa-star-o"></i> Featured</a>
						<ul>
							<li><a href="chat-messenger.html" title="">Messenger (Chatting)</a></li>
							<li><a href="notifications.html" title="">Notifications</a></li>
							<li><a href="weather-forecast.html" title="">weather-forecast</a></li>
							<li><a href="statistics.html" title="">Statics/Analytics</a></li>
						</ul>
					</li>
					<li>
						<a class="" href="#" title=""><i class="fa fa-gears"></i> Account Setting</a>
						<ul>
							<li><a href="setting.html" title="">Setting</a></li>
							<li><a href="privacy.html" title="">Privacy</a></li>
							<li><a href="support-and-help.html" title="">Support & Help</a></li>
							<li><a href="support-and-help-detail.html" title="">Support Detail</a></li>
							<li><a href="support-and-help-search-result.html" title="">Support Search</a></li>
						</ul>
					</li>
					<li>
						<a class="" href="#" title=""><i class="fa fa-lock"></i> Authentication</a>
						<ul>
							<li><a href="login.html" title="">Login Page</a></li>
							<li><a href="register.html" title="">Register Page</a></li>
							<li><a href="logout.html" title="">Logout Page</a></li>
							<li><a href="error-404.html" title="">Error 404</a></li>
							<li><a href="error-404-2.html" title="">Error 404-2</a></li>
							<li><a href="error-500.html" title="">Error 500</a></li>
						</ul>
					</li>
					<li>
						<a class="" href="#" title=""><i class="fa fa-wrench"></i> Tools</a>
						<ul>
							<li><a href="typography.html" title="">Typography</a></li>
							<li><a href="popup-modals.html" title="">Popups/Modals</a></li>
							<li><a href="post-versions.html" title="">Post Versions</a></li>
							<li><a href="sliders.html" title="">Sliders / Carousel</a></li>
							<li><a href="google-map.html" title="">Google Maps</a></li>
							<li><a href="widgets.html" title="">Widgets</a></li>
						</ul>
					</li>
				</ul>

			</nav><!-- nav menu -->
		</div><!-- topbar -->

		<div class="fixed-sidebar right">
			<div class="chat-friendz">
				<ul id="minichat" class="chat-users">
					@*Mini Chat*@

				</ul>
			</div>
		</div><!-- right sidebar user chat -->

		<div class="fixed-sidebar left">
			<div class="menu-left">
				<ul class="left-menu">
					<li>
						<a class="menu-small" href="#" title="">
							<i class="ti-menu"></i>
						</a>
					</li>

					<li>
						<a href="newsfeed.html" title="Newsfeed Page" data-toggle="tooltip" data-placement="right">
							<i class="ti-magnet"></i>
						</a>
					</li>
					<li>
						<a href="timeline-friends.html" title="Friends" data-toggle="tooltip" data-placement="right">
							<i class="ti-user"></i>
						</a>
					</li>
					<li>
						<a href="chat-messenger.html" title="Messages" data-toggle="tooltip" data-placement="right">
							<i class="ti-comment-alt"></i>
						</a>
					</li>
					<li>
						<a href="notifications.html" title="Notification" data-toggle="tooltip" data-placement="right">
							<i class="fa fa-bell-o"></i>
						</a>
					</li>

					<li>
						<a href="statistics.html" title="Account Stats" data-toggle="tooltip" data-placement="right">
							<i class="ti-stats-up"></i>
						</a>
					</li>

					<li>
						<a href="support-and-help.html" title="Help" data-toggle="tooltip" data-placement="right">
							<i class="fa fa-question-circle-o">
							</i>
						</a>
					</li>
				</ul>
			</div>
			<div class="left-menu-full">
				<ul class="menu-slide">
					<li><a class="closd-f-menu" href="#" title=""><i class="ti-close"></i> close Menu</a></li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa fa-home"></i> Home Pages</a>
						<ul class="submenu">
							<li><a href="index.html" title="">Pitnik Default</a></li>
							<li><a href="pitrest.html" title="">Pitrest</a></li>
							<li><a href="pitpoint.html" title="">PitPoint</a></li>
							<li><a href="chat-messenger.html" title="">Messenger</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa fa-female"></i>PitPoint</a>
						<ul class="submenu">
							<li><a href="pitpoint.html" title="">PitPoint</a></li>
							<li><a href="pitpoint-list.html" title="">Pitpoint List style</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa fa-repeat"></i>Timeline</a>
						<ul class="submenu">
							<li><a href="timeline.html" title="">Timeline</a></li>
							<li><a href="timeline-photos.html" title="">Timeline Photos</a></li>
							<li><a href="timeline-videos.html" title="">Timeline Videos</a></li>
							<li><a href="timeline-groups.html" title="">Timeline Groups</a></li>
							<li><a href="timeline-friends.html" title="">Timeline Friends</a></li>
							<li><a href="timeline-friends2.html" title="">Timeline Friends-2</a></li>
							<li><a href="about.html" title="">Timeline About</a></li>
							<li><a href="blog-posts.html" title="">Timeline Blog</a></li>
							<li><a href="newsfeed.html" title="">Newsfeed</a></li>
							<li><a href="search-result.html" title="">Search Result</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa fa-star-o"></i>Featured</a>
						<ul class="submenu">
							<li><a href="chat-messenger.html" title="">Messenger (Chatting)</a></li>
							<li><a href="notifications.html" title="">Notifications</a></li>
							<li><a href="weather-forecast.html" title="">weather-forecast</a></li>
							<li><a href="statistics.html" title="">Statics/Analytics</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa fa-gears"></i>Account Setting</a>
						<ul class="submenu">
							<li><a href="setting.html" title="">Setting</a></li>
							<li><a href="privacy.html" title="">Privacy</a></li>
							<li><a href="support-and-help.html" title="">Support & Help</a></li>
							<li><a href="support-and-help-detail.html" title="">Support Detail</a></li>
							<li><a href="support-and-help-search-result.html" title="">Support Search</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa fa-lock"></i>Authentication</a>
						<ul class="submenu">
							<li><a href="login.html" title="">Login Page</a></li>
							<li><a href="register.html" title="">Register Page</a></li>
							<li><a href="logout.html" title="">Logout Page</a></li>
							<li><a href="error-404.html" title="">Error 404</a></li>
							<li><a href="error-404-2.html" title="">Error 404-2</a></li>
							<li><a href="error-500.html" title="">Error 500</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa fa-wrench"></i>Tools</a>
						<ul class="submenu">
							<li><a href="typography.html" title="">Typography</a></li>
							<li><a href="popup-modals.html" title="">Popups/Modals</a></li>
							<li><a href="post-versions.html" title="">Post Versions</a></li>
							<li><a href="sliders.html" title="">Sliders</a></li>
							<li><a href="google-map.html" title="">Google Maps</a></li>
							<li><a href="widgets.html" title="">Widgets</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- left sidebar menu -->


		<section>
			<div class="gap2 gray-bg">
				<div class="container">
					<div class="row">

						<div class="col-lg-12">
							<div class="row merged20" id="page-contents">
								<div class="col-lg-3">
									<aside class="sidebar static left">
										<div class="widget">
											<div class="weather-widget low-opacity bluesh">
												<div class="bg-image" style="background-image: url(../Layout/images/resources/weather.jpg)"></div>
												<span class="refresh-content"><i class="fa fa-refresh"></i></span>
												<div class="weather-week">
													<div class="icon sun-shower">
														<div class="cloud"></div>
														<div class="sun">
															<div class="rays"></div>
														</div>
														<div class="rain"></div>
													</div>
												</div>
												<div class="weather-infos">
													<span class="weather-tem">25</span>
													<h3>Cloudy Skyes<i>Sicklervilte, New Jersey</i></h3>
													<div class="weather-date skyblue-bg">
														<span>MAY<strong>21</strong></span>
													</div>
												</div>
												<div class="monthly-weather">
													<ul>
														<li>
															<span>Sun</span>
															<a href="#" title=""><i class="wi wi-day-sunny"></i></a>
															<em>40°</em>
														</li>
														<li>
															<span>Mon</span>
															<a href="#" title=""><i class="wi wi-day-cloudy"></i></a>
															<em>10°</em>
														</li>
														<li>
															<span>Tue</span>
															<a href="#" title=""><i class="wi wi-day-hail"></i></a>
															<em>20°</em>
														</li>
														<li>
															<span>Wed</span>
															<a href="#" title=""><i class="wi wi-day-lightning"></i></a>
															<em>34°</em>
														</li>
														<li>
															<span>Thu</span>
															<a href="#" title=""><i class="wi wi-day-showers"></i></a>
															<em>22°</em>
														</li>
														<li>
															<span>Fri</span>
															<a href="#" title=""><i class="wi wi-day-windy"></i></a>
															<em>26°</em>
														</li>
														<li>
															<span>Sat</span>
															<a href="#" title=""><i class="wi wi-day-sunny-overcast"></i></a>
															<em>30°</em>
														</li>
													</ul>
												</div>

											</div><!-- Weather Widget -->
										</div><!-- weather widget-->
										<div class="widget whitish low-opacity">
											<div style="background-image: url(../Layout/images/resources/dob2.png)" class="bg-image"></div>
											<div class="dob-head">
												<img src="../Layout/images/resources/sug-page-5.jpg" alt="">
												<span>22nd Birthday</span>
												<div class="dob">
													<i>19</i>
													<span>September</span>
												</div>
											</div>
											<div class="dob-meta">
												<figure><img src="../Layout/images/resources/dob-cake.gif" alt=""></figure>
												<h6><a href="#" title="">Lucy Carbel</a> valentine's birthday</h6>
												<p>leave a message with your best wishes on his profile.</p>
											</div>
										</div><!-- birthday widget -->
										<div class="widget">
											<h4 class="widget-title">Twitter feed</h4>
											<ul class="twiter-feed">
												<li>
													<i class="fa fa-twitter"></i>
													<span>
														<i>jhon william</i>
														jhonwilliam
													</span>
													<p>tomorrow with the company we were working and 5 child run away from the working place. <a href="#" title="">#daydream5k</a> </p>
													<em>2 hours ago</em>
												</li>
												<li>
													<i class="fa fa-twitter"></i>
													<span>
														<i>Kelly watson</i>
														kelly
													</span>
													<p>tomorrow with the company we were working and 5 child run away from the working place. <a href="#" title="">#daydream5k</a> </p>
													<em>2 hours ago</em>
												</li>
												<li>
													<i class="fa fa-twitter"></i>
													<span>
														<i>Jony bravo</i>
														jonibravo
													</span>
													<p>tomorrow with the company we were working and 5 child run away from the working place. <a href="#" title="">#daydream5k</a> </p>
													<em>2 hours ago</em>
												</li>
											</ul>
										</div><!-- twitter feed-->
										<div class="advertisment-box">
											<h4 class="">advertisment</h4>
											<figure>
												<a href="#" title="Advertisment"><img src="../Layout/images/resources/ad-widget.gif" alt=""></a>
											</figure>
										</div><!-- advertisment box -->
										<div class="widget">
											<h4 class="widget-title">Shortcuts</h4>
											<ul class="naves">
												<li>
													<i class="ti-clipboard"></i>
													<a href="newsfeed.html" title="">News feed</a>
												</li>
												<li>
													<i class="ti-mouse-alt"></i>
													<a href="inbox.html" title="">Inbox</a>
												</li>
												<li>
													<i class="ti-user"></i>
													<a href="timeline-friends.html" title="">friends</a>
												</li>
												<li>
													<i class="ti-image"></i>
													<a href="timeline-photos.html" title="">images</a>
												</li>
												<li>
													<i class="ti-video-camera"></i>
													<a href="timeline-videos.html" title="">videos</a>
												</li>
												<li>
													<i class="ti-comments-smiley"></i>
													<a href="messages.html" title="">Messages</a>
												</li>
												<li>
													<i class="ti-bell"></i>
													<a href="notifications.html" title="">Notifications</a>
												</li>
												<li>
													<i class="ti-share"></i>
													<a href="people-nearby.html" title="">People Nearby</a>
												</li>
												<li>
													<i class="fa fa-bar-chart-o"></i>
													<a href="insights.html" title="">insights</a>
												</li>
												<li>
													<i class="ti-power-off"></i>
													<a href="landing.html" title="">Logout</a>
												</li>
											</ul>
										</div><!-- Shortcuts -->
										<div class="widget">
											<h4 class="widget-title">Recent Activity</h4>
											<ul class="activitiez">
												<li>
													<div class="activity-meta">
														<i>10 hours Ago</i>
														<span><a href="#" title="">Commented on Video posted </a></span>
														<h6>by <a href="time-line.html">black demon.</a></h6>
													</div>
												</li>
												<li>
													<div class="activity-meta">
														<i>30 Days Ago</i>
														<span><a href="#" title="">Posted your status. “Hello guys, how are you?”</a></span>
													</div>
												</li>
												<li>
													<div class="activity-meta">
														<i>2 Years Ago</i>
														<span><a href="#" title="">Share a video on her timeline.</a></span>
														<h6>"<a href="#">you are so funny mr.been.</a>"</h6>
													</div>
												</li>
											</ul>
										</div><!-- recent activites -->
										<div class="widget stick-widget">
											<h4 class="widget-title">Who's follownig</h4>
											<ul class="followers">
												<li>
													<figure><img src="../Layout/images/resources/friend-avatar2.jpg" alt=""></figure>
													<div class="friend-meta">
														<h4><a href="time-line.html" title="">Kelly Bill</a></h4>
														<a href="#" title="" class="underline">Add Friend</a>
													</div>
												</li>
												<li>
													<figure><img src="../Layout/images/resources/friend-avatar4.jpg" alt=""></figure>
													<div class="friend-meta">
														<h4><a href="time-line.html" title="">Issabel</a></h4>
														<a href="#" title="" class="underline">Add Friend</a>
													</div>
												</li>
												<li>
													<figure><img src="../Layout/images/resources/friend-avatar6.jpg" alt=""></figure>
													<div class="friend-meta">
														<h4><a href="time-line.html" title="">Andrew</a></h4>
														<a href="#" title="" class="underline">Add Friend</a>
													</div>
												</li>
												<li>
													<figure><img src="../Layout/images/resources/friend-avatar8.jpg" alt=""></figure>
													<div class="friend-meta">
														<h4><a href="time-line.html" title="">Sophia</a></h4>
														<a href="#" title="" class="underline">Add Friend</a>
													</div>
												</li>
												<li>
													<figure><img src="../Layout/images/resources/friend-avatar3.jpg" alt=""></figure>
													<div class="friend-meta">
														<h4><a href="time-line.html" title="">Allen</a></h4>
														<a href="#" title="" class="underline">Add Friend</a>
													</div>
												</li>
											</ul>
										</div><!-- who's following -->
									</aside>
								</div><!-- sidebar -->

										@RenderBody()
								
								<div class="col-lg-3">
									<aside class="sidebar static right">
										<div class="widget">
											<h4 class="widget-title">Your page</h4>
											<div class="your-page">
												<figure>
													<a href="#" title=""><img src="@Url.Content("../Layout/images/"+ avatar)" alt=""></a>
												</figure>
												<div class="page-meta">
													<a href="#" title="" class="underline">My Creative Page</a>
													<span><i class="ti-comment"></i><a href="insight.html" title="">Messages <em>9</em></a></span>
													<span><i class="ti-bell"></i><a href="insight.html" title="">Notifications <em>2</em></a></span>
												</div>
												<ul class="page-publishes">
													<li>
														<span><i class="ti-pencil-alt"></i>Publish</span>
													</li>
													<li>
														<span><i class="ti-camera"></i>Photo</span>
													</li>
													<li>
														<span><i class="ti-video-camera"></i>Live</span>
													</li>
													<li>
														<span><i class="fa fa-user-plus"></i>Invite</span>
													</li>
												</ul>
												<div class="page-likes">
													<ul class="nav nav-tabs likes-btn">
														<li class="nav-item"><a class="active" href="#link1" data-toggle="tab" data-ripple="">likes</a></li>
														<li class="nav-item"><a class="" href="#link2" data-toggle="tab" data-ripple="">views</a></li>
													</ul>
													<!-- Tab panes -->
													<div class="tab-content">
														<div class="tab-pane active fade show " id="link1">
															<span><i class="ti-heart"></i>884</span>
															<a href="#" title="weekly-likes">35 new likes this week</a>
															<div class="users-thumb-list">
																<a href="#" title="Anderw" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-1.jpg" alt="">
																</a>
																<a href="#" title="frank" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-2.jpg" alt="">
																</a>
																<a href="#" title="Sara" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-3.jpg" alt="">
																</a>
																<a href="#" title="Amy" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-4.jpg" alt="">
																</a>
																<a href="#" title="Ema" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-5.jpg" alt="">
																</a>
																<a href="#" title="Sophie" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-6.jpg" alt="">
																</a>
																<a href="#" title="Maria" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-7.jpg" alt="">
																</a>
															</div>
														</div>
														<div class="tab-pane fade" id="link2">
															<span><i class="fa fa-eye"></i>440</span>
															<a href="#" title="weekly-likes">440 new views this week</a>
															<div class="users-thumb-list">
																<a href="#" title="Anderw" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-1.jpg" alt="">
																</a>
																<a href="#" title="frank" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-2.jpg" alt="">
																</a>
																<a href="#" title="Sara" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-3.jpg" alt="">
																</a>
																<a href="#" title="Amy" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-4.jpg" alt="">
																</a>
																<a href="#" title="Ema" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-5.jpg" alt="">
																</a>
																<a href="#" title="Sophie" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-6.jpg" alt="">
																</a>
																<a href="#" title="Maria" data-toggle="tooltip">
																	<img src="../Layout/images/resources/userlist-7.jpg" alt="">
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- page like widget -->
										<div class="widget">
											<h4 class="widget-title">Explor Events <a title="" href="#" class="see-all">See All</a></h4>
											<div class="rec-events bg-purple">
												<i class="ti-gift"></i>
												<h6><a href="#" title="">Ocean Motel good night event in columbia</a></h6>
												<img src="../Layout/images/clock.png" alt="">
											</div>
											<div class="rec-events bg-blue">
												<i class="ti-microphone"></i>
												<h6><a href="#" title="">2016 The 3rd International Conference</a></h6>
												<img src="../Layout/images/clock.png" alt="">
											</div>
										</div><!-- explore events -->
										<div class="widget">
											<h4 class="widget-title">Profile intro</h4>
											<ul class="short-profile">
												<li>
													<span>about</span>
													<p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft </p>
												</li>
												<li>
													<span>fav tv show</span>
													<p>Sacred Games, Spartcus Blood, Games of Theron </p>
												</li>
												<li>
													<span>favourit music</span>
													<p>Justin Biber, Shakira, Nati Natasah</p>
												</li>
											</ul>
										</div><!-- profile intro widget -->
										<div class="widget stick-widget">
											<h4 class="widget-title">Recent Links <a title="" href="#" class="see-all">See All</a></h4>
											<ul class="recent-links">
												<li>
													<figure><img src="../Layout/images/resources/recentlink-1.jpg" alt=""></figure>
													<div class="re-links-meta">
														<h6><a href="#" title="">moira's fade reaches much farther than you think.</a></h6>
														<span>2 weeks ago </span>
													</div>
												</li>
												<li>
													<figure><img src="../Layout/images/resources/recentlink-2.jpg" alt=""></figure>
													<div class="re-links-meta">
														<h6><a href="#" title="">daniel asks if we want him to do the voice of doomfist</a></h6>
														<span>3 months ago </span>
													</div>
												</li>
												<li>
													<figure><img src="../Layout/images/resources/recentlink-3.jpg" alt=""></figure>
													<div class="re-links-meta">
														<h6><a href="#" title="">the pitnik overwatch scandals.</a></h6>
														<span>1 day before</span>
													</div>
												</li>
											</ul>
										</div><!-- recent links -->
									</aside>
								</div><!-- sidebar -->
							</div>
						</div>


					</div>
				</div>
			</div>
		</section>

		<div class="bottombar">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<span class="copyright">© Pitnik 2020. All rights reserved.</span>
						<i><img src="../Layout/images/credit-cards.png" alt=""></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="side-panel">
		<h4 class="panel-title">General Setting</h4>
		<form method="post">
			<div class="setting-row">
				<span>use night mode</span>
				<input type="checkbox" id="nightmode1" />
				<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Notifications</span>
				<input type="checkbox" id="switch22" />
				<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Notification sound</span>
				<input type="checkbox" id="switch33" />
				<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>My profile</span>
				<input type="checkbox" id="switch44" />
				<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Show profile</span>
				<input type="checkbox" id="switch55" />
				<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
			</div>
		</form>
		<h4 class="panel-title">Account Setting</h4>
		<form method="post">
			<div class="setting-row">
				<span>Sub users</span>
				<input type="checkbox" id="switch66" />
				<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>personal account</span>
				<input type="checkbox" id="switch77" />
				<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Business account</span>
				<input type="checkbox" id="switch88" />
				<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Show me online</span>
				<input type="checkbox" id="switch99" />
				<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Delete history</span>
				<input type="checkbox" id="switch101" />
				<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Expose author name</span>
				<input type="checkbox" id="switch111" />
				<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
			</div>
		</form>
	</div><!-- side panel -->

	<div class="popup-wraper3">
		<div class="popup">
			<span class="popup-closed"><i class="ti-close"></i></span>
			<div class="popup-meta">
				<div class="popup-head">
					<h5>Report Post</h5>
				</div>
				<div class="Rpt-meta">
					<span>We're sorry something's wrong. How can we help?</span>
					<form method="post" class="c-form">
						<div class="form-radio">
							<div class="radio">
								<label>
									<input type="radio" name="radio" checked="checked"><i class="check-box"></i>It's spam or abuse
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="radio"><i class="check-box"></i>It breaks r/technology's rules
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="radio"><i class="check-box"></i>Not Related
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="radio"><i class="check-box"></i>Other issues
								</label>
							</div>
						</div>
						<div>
							<label>Write about Report</label>
							<textarea placeholder="write someting about Post" rows="2"></textarea>
						</div>
						<div>
							<button data-ripple="" type="submit" class="main-btn">Submit</button>
							<a href="#" data-ripple="" class="main-btn3 cancel">Close</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div><!-- report popup -->

	<div class="popup-wraper2">
		<div class="popup post-sharing">
			<span class="popup-closed"><i class="ti-close"></i></span>
			<div class="popup-meta">
				<div class="popup-head">
										
					<div class="friend-name">
							<ins><a title="" href="time-line.html">@tk</a> share <a title="" href="#">link</a></ins>
						</div>
					<div class="post-status">
						<span><i class="fa fa-globe"></i></span>
						<ul>
							<li><a href="#" title=""><i class="fa fa-globe"></i> Post Globaly</a></li>
							<li><a href="#" title=""><i class="fa fa-user"></i> Post Private</a></li>
							<li><a href="#" title=""><i class="fa fa-user-plus"></i> Post Friends</a></li>
						</ul>
					</div>
				</div>
				<div id="share" class="postbox">
					@*Share*@
				</div>
			</div>
		</div>
	</div><!-- share popup -->

	<div class="popup-wraper1">
		<div class="popup direct-mesg">
			<span class="popup-closed"><i class="ti-close"></i></span>
			<div class="popup-meta">
				<div class="popup-head">
					<h5>Send Message</h5>
				</div>
				<div class="send-message">
					<form method="post" class="c-form">
						<input type="text" placeholder="Sophia">
						<textarea placeholder="Write Message"></textarea>
						<button type="submit" class="main-btn">Send</button>
					</form>
					<div class="add-smiles">
						<div class="uploadimage">
							<i class="fa fa-image"></i>
							<label class="fileContainer">
								<input type="file">
							</label>
						</div>
						<span title="add icon" class="em em-expressionless"></span>
						<div class="smiles-bunch">
							<i class="em em---1"></i>
							<i class="em em-smiley"></i>
							<i class="em em-anguished"></i>
							<i class="em em-laughing"></i>
							<i class="em em-angry"></i>
							<i class="em em-astonished"></i>
							<i class="em em-blush"></i>
							<i class="em em-disappointed"></i>
							<i class="em em-worried"></i>
							<i class="em em-kissing_heart"></i>
							<i class="em em-rage"></i>
							<i class="em em-stuck_out_tongue"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div><!-- send message popup -->

	<div class="modal fade" id="img-comt">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-8">
							<div class="pop-image">
								<div class="pop-item">
									<figure><img src="../Layout/images/resources/blog-detail.jpg" alt=""></figure>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="user">
								<figure><img src="../Layout/images/resources/user1.jpg" alt=""></figure>
								<div class="user-information">
									<h4><a href="#" title="">Danile Walker</a></h4>
									<span>2 hours ago</span>
								</div>
								<a href="#" title="Follow" data-ripple="">Follow</a>
							</div>
							<div class="we-video-info">
								<ul>
									<li>
										<div title="Like/Dislike" class="likes heart">❤ <span>2K</span></div>
									</li>
									<li>
										<span title="Comments" class="comment">
											<i class="fa fa-commenting"></i>
											<ins>52</ins>
										</span>
									</li>

									<li>
										<span>
											<a title="Share" href="#" class="">
												<i class="fa fa-share-alt"></i>
											</a>
											<ins>20</ins>
										</span>
									</li>
								</ul>
								<div class="users-thumb-list">
									<a href="#" title="" data-toggle="tooltip" data-original-title="Anderw">
										<img src="../Layout/images/resources/userlist-1.jpg" alt="">
									</a>
									<a href="#" title="" data-toggle="tooltip" data-original-title="frank">
										<img src="../Layout/images/resources/userlist-2.jpg" alt="">
									</a>
									<a href="#" title="" data-toggle="tooltip" data-original-title="Sara">
										<img src="../Layout/images/resources/userlist-3.jpg" alt="">
									</a>
									<a href="#" title="" data-toggle="tooltip" data-original-title="Amy">
										<img src="../Layout/images/resources/userlist-4.jpg" alt="">
									</a>
									<span><strong>You</strong>, <b>Sarah</b> and <a title="" href="#">24+ more</a> liked</span>
								</div>
							</div>
							<div style="display: block;" class="coment-area">
								<ul class="we-comet">
									<li>
										<div class="comet-avatar">
											<img alt="" src="../Layout/images/resources/nearly3.jpg">
										</div>
										<div class="we-comment">
											<h5><a title="" href="time-line.html">Jason borne</a></h5>
											<p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
											<div class="inline-itms">
												<span>1 year ago</span>
												<a title="Reply" href="#" class="we-reply"><i class="fa fa-reply"></i></a>
												<a title="" href="#"><i class="fa fa-heart"></i><span>20</span></a>
											</div>
										</div>

									</li>
									<li>
										<div class="comet-avatar">
											<img alt="" src="../Layout/images/resources/comet-4.jpg">
										</div>
										<div class="we-comment">
											<h5><a title="" href="time-line.html">Sophia</a></h5>
											<p>
												we are working for the dance and sing songs. this video is very awesome for the youngster.
												<i class="em em-smiley"></i>
											</p>
											<div class="inline-itms">
												<span>1 year ago</span>
												<a title="Reply" href="#" class="we-reply"><i class="fa fa-reply"></i></a>
												<a title="" href="#"><i class="fa fa-heart"></i><span>20</span></a>
											</div>
										</div>
									</li>
									<li>
										<div class="comet-avatar">
											<img alt="" src="../Layout/images/resources/comet-4.jpg">
										</div>
										<div class="we-comment">
											<h5><a title="" href="time-line.html">Sophia</a></h5>
											<p>
												we are working for the dance and sing songs. this video is very awesome for the youngster.
												<i class="em em-smiley"></i>
											</p>
											<div class="inline-itms">
												<span>1 year ago</span>
												<a title="Reply" href="#" class="we-reply"><i class="fa fa-reply"></i></a>
												<a title="" href="#"><i class="fa fa-heart"></i><span>20</span></a>
											</div>
										</div>
									</li>
									<li>
										<a class="showmore underline" title="" href="#">more comments+</a>
									</li>
									<li class="post-comment">
										<div class="comet-avatar">
											<img alt="" src="../Layout/images/resources/nearly1.jpg">
										</div>
										<div class="post-comt-box">
											<form method="post">
												<textarea placeholder="Post your comment"></textarea>
												<div class="add-smiles">
													<div class="uploadimage">
														<i class="fa fa-image"></i>
														<label class="fileContainer">
															<input type="file">
														</label>
													</div>
													<span title="add icon" class="em em-expressionless"></span>
													<div class="smiles-bunch">
														<i class="em em---1"></i>
														<i class="em em-smiley"></i>
														<i class="em em-anguished"></i>
														<i class="em em-laughing"></i>
														<i class="em em-angry"></i>
														<i class="em em-astonished"></i>
														<i class="em em-blush"></i>
														<i class="em em-disappointed"></i>
														<i class="em em-worried"></i>
														<i class="em em-kissing_heart"></i>
														<i class="em em-rage"></i>
														<i class="em em-stuck_out_tongue"></i>
													</div>
												</div>

												<button type="submit"></button>
											</form>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- The Scrolling Modal image with comment -->

	<script src="../Layout/js/main.min.js"></script>
	<script src="../Layout/js/jquery-stories.js"></script>
	<script src="../Layout/js/toast-notificatons.js"></script>
	<script src="../../../cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script><!-- For timeline slide show -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script><!-- for location picker map -->
	<script src="../Layout/js/locationpicker.jquery.js"></script><!-- for loaction picker map -->
	<script src="../Layout/js/map-init.js"></script><!-- map initilasition -->
	<script src="../Layout/js/script.js"></script>
	


</body>


</html>
<script>
	function GetFriendGui() {
		var str = '';
		var trangthai = '';
		$.ajax({
			type: 'GET',
			url: 'https://localhost:7013/api/api3/0/' + '@tk',
			dataType: 'json',
			success: function (data) {
				$.each(data, function (key, val) {
					trangthai = val.trangThai;
					if(trangthai == 0){
					str += `
									<li>
										<div>
											<figure>
												<img style="width: 45px; height: 45px;" src="../Layout/images/${val.avatarGui}" alt="">
											</figure>
											<div class="mesg-meta">
													<h6><a href="https://localhost:7013/Home/TrangCaNhan?taikhoan=${val.tkgui}" title="">${val.tkgui}</a></h6>
												<span><b>Send</b> friend request to ${val.tknhan}</span>
												<i>Medicine</i>
											</div>
											<div class="add-del-friends">
												<a href="#" title=""><i class="fa fa-heart"></i></a>
												<a href="#" title=""><i class="fa fa-trash"></i></a>
											</div>
										</div>
									</li>
						`
					}
				});
				$('#FriendGui').html(str);

			},

			Error: function (xhr) {
				alert(xhr.resposeText)
			},

		});
	}

	//phia gui yeu cau
	function GetMiniChatFriend() {
		var display = '';
		var tknhan = '';
		var str = '';
		$.ajax({
			type: 'GET',
			url: 'https://localhost:7013/api/api3/' + '@tk',
			dataType: 'json',
			success: function (data) {
				$.each(data, function (key, val) {
					tknhan = val.tknhan;
					str = val.trangThai;
					if (str == 1) {
						display += `
							<li>
							<div onclick="get('${val.tknhan}')" class="author-thmb">
									<img style="width: 34px; height: 34px;" src="../Layout/images/${val.avatarNhan}" title="${val.tknhan}" alt="">
								<span class="status f-online"></span>
							</div>
						</li>
							`
					}


				});
					$('#minichat').append(display);

			},

			Error: function (xhr) {
				alert(xhr.resposeText)
			},

		});
	}

	//phia nhan yeu cau
	function GetMiniChatFriend1() {
		var display = '';
		var tkgui = '';
		var str = '';
		$.ajax({
			type: 'GET',
			url: 'https://localhost:7013/api/api3/0/' + '@tk',
			dataType: 'json',
			success: function (data) {
				$.each(data, function (key, val) {
					tkgui = val.tkgui;
					str = val.trangThai;
					if (str == 1) {
						display += `
							<li>
							<div class="author-thmb">
								<img onclick="get('${val.tkgui}')" style="width: 34px; height: 34px;" src="../Layout/images/${val.avatarGui}" title="${val.tkgui}" alt="">
								<span class="status f-online"></span>
							</div>
						</li>
							`
					}

				});
					$('#minichat').append(display);

			},

			Error: function (xhr) {
				alert(xhr.resposeText)
			},

		});
	}

	function getsearch(){
		var search = $("#search").val();
		window.location.href = "https://localhost:7013/Home/TrangCaNhan?taikhoan=" + search;

	}

	function get(tk){
		window.location.href = "https://localhost:7013/Home/Chat?tkgui=" + "@tk" + "&tknhan=" + tk;

	}
	function myFunction(event) {
		  event.preventDefault(); // ngăn chặn hành vi mặc định của form
		  // xử lý dữ liệu ở đây
		  return false; // ngăn chặn form gửi dữ liệu đi
	}

	window.addEventListener('load', function () {
		// Thực hiện function myFunction ở đây
		GetMiniChatFriend();
		GetMiniChatFriend1();

	});

</script>
